<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/Css")
    @Scripts.Render("~/bundles/jquery")
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/kendo")
    <script src="~/Scripts/common.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="main_container">
        <div id="header">
            <div class="logo">
                <div style="float: left">
                    <img src="~/Content/images/parking-icon.png" border="0" alt="" width="80px" height="80px" />
                </div>
                <div id="logo-txt">
                    Smart Parking
                </div>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a>Login</a></li>
            </ul>
        </div>
        <div class="center_content" style="height:400px">
            <div class="center_left">
           @*     <div class="title_welcome"><span class="red">Welcome</span> Admin,</div>*@
                <div class="login-content" >
                    @RenderSection("featured", required: false)
                    @RenderBody()
                </div>
            </div>

            <div class="clear"></div>
        </div>
        <div id="footer">
            <div class="left_footer">
                <div class="float-left">
                    <p>Smart Parking Copyright &copy; @DateTime.Now.Year</p>
                </div>

            </div>
        </div>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>


@* <div class="column">
                            <h3>Etiam Massa</h3>
                            <a href="#">Sed interdum</a>
                            <a href="#">Fringilla congue</a>

                        </div>*@
@*@Styles.Render("~/Content/css") *@




@*<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Smart Parking </title>
    @Styles.Render("~/Content/kendo/css")
   
    @Scripts.Render("~/bundles/jquery")


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/NewCss/ddmenu.css" rel="stylesheet" />
    <script src="~/NewCss/ddmenu.js"></script>
    <style>
        body {
            background: #eee url(NewCss/ddmenu-bg.jpg) no-repeat center 0px;
            padding-top: 90px;
        }
    </style>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/kendo")
    <script src="~/Scripts/common.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="ddmenu">
        <div class="menu-icon"></div>
        <ul>
            <li class="full-width">
                <span class="top-heading">Parking Management</span>
                <i class="caret"></i>
                <div class="dropdown">
                    <div class="dd-inner">
                        <div class="column">
                            <h3>Parking</h3>
                            @Html.ActionLink("Parking Management", "Index", "Parkings")
                            @Html.ActionLink("Slot Management", "Index", "ParkingSlot")

                        </div>
                      
                        <div class="column column260 mayHide">
                            <br />
                            <img src="NewCss/img2.jpg" style="height:150px; width:200px"/>
                        </div>
                    </div>
                </div>
            </li>
            <li class="full-width">
                <span class="top-heading">User Management</span>
                <i class="caret"></i>
                <div class="dropdown">
                    <div class="dd-inner">
                        <div class="column">
                            <h3>User</h3>
                            @Html.ActionLink("User Management", "Index", "UserManagement")
                            @Html.ActionLink("User Log By Parking", "Index", "UserLogByParking")
                        </div>
                        
                        <div class="column column260 mayHide">
                            <br />
                            <img src="NewCss/img1.jpg" style="height:150px; width:200px" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div id="body" style="margin-top:100px; margin-left:150px; margin-right:150px;">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
</body> 
</html>
*@




